@use "../../assets/styles/layout/forms" as *;

.form {
  height: 25rem;
  width: 26rem;
  position: fixed;
  gap: 2rem;

  &__title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__label {
    margin-bottom: 0.5rem;
  }

  &__buttons {
    justify-content: flex-end;
    gap: 2rem;
  }

  &__input {
    height: 2rem;
    width: 2rem;
  }

  &__section:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__section {
    &-color {
      display: flex;
      flex-direction: row;
    }
    &-img {
      width: 1rem;
    }
  }

  &__selectBox {
    height: 3rem;
    padding: 0 1rem;
  }
}
