@use "../../assets/styles/variables" as *;

.accordian__item {
    border-bottom: 1px solid $form-label-color;
    margin-bottom: 0.5rem;
    &-title {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        align-items: center;
        &-name {
            color: $title-color;
        }
        
    }
    &-title:hover {
        cursor: pointer;
    }
    &-content {
        word-break: break-all;
        &-input {
            margin: 0;
            color: $text-color;
            margin-bottom: 0.5rem;
        }
        &-text {
            color: $primary-color;
            margin: 0;
            
        }
    }
}