@use "../../assets/styles/_variables" as *;



.event-list {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   //margin-left: 5.6rem;
   padding: 2.5rem 2.5rem 2.5rem 4rem;
   background-color: $back-color;

   &__header {
      color: $title-color;
      font-size: 1.2rem;
      font-weight: 400;
   }

   &__headings {
      background-color: $event-list-table-row-color;
      border-radius: 0.4rem 0.4rem 0 0;
      display: flex;
      padding: 0 1rem;
      justify-content: space-between;

      .table__header{
         padding: 0.6rem 0;
         color: $event-list-heading-color;
         font-weight: 500;
         margin: 0;
      }

      &-series {
         width: 16vw;
      }

      &-title {
         width: 12vw;
      }

      &-time {
         width: 6vw;
      }

      &-URL {
         width: 26vw;
      }
   }

   &__formatting-div {
      width: 3rem;
   }

   &__UI {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem;
      margin-top: 1.5rem;
   }

   &__searchbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 30vw;
      padding: 0 1rem;
      background-color: $form-input-color; //same colour as what we need
   }

   &__searchIcon {
      width: 1rem;
      height: 1rem;
   }
}