@use "../../../assets/styles/_variables.scss"as *;
@use "../../../assets/styles/base/typography.scss"as *;
@use "../../../assets/styles/layout/forms" as *;



.eventInfo__pageOne-form {
    height: 45rem;
    width: 26rem;

    &__main
     {
        display: flex;
        flex-direction: row;
    }
  
    &__input{
        padding-left: 2rem;
    }

  }

  .picture-section {
    margin-top: 6rem;
    height: 39rem;

    &__remove{
      text-decoration-line: underline;
    }
    &__button {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
  }
  
}



