@use "../../../assets/styles/_variables.scss"as *;
@use "../../../assets/styles/base/typography.scss"as *;



.eventInfo__pageOne-form {
    height: 45rem;
    width: 26rem;

    &__main
     {
        display: flex;
        flex-direction: row;
    }
   
    &__input{
        padding-left: 2rem;
       
    }
    .field {
      font-size: calc($base-font * 0.75);
      font-family: Poppins;
      color: $text-color;
    }
 }

    .picture-section__container {
        margin-top: 5rem;

    }
    .picture-section__dropbox-placeholder {
      font-family: poppins;
      color: $text-color;
      line-height: 150%;
      font-size: calc($base-font * 0.75);
    }
  

    .picture-section__remove{
      text-decoration-line: underline;
      color: $primary-color;
    }
    .picture-section__button {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
  }
  


.form__borderbox {
  height: 20rem;
  width: 26rem;
  border: $form-input-border-color 2px solid;
  border-radius: 15px;
  margin-left: -1rem;
  margin-right: 10rem;

}