@use "../../assets/styles/variables" as *;

:root {
    --primary-color: $primary-color;
}

.nav {
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    position: fixed;
    a {
        // border-radius: 3rem;
        border: none;
        display:flex;
        justify-content: center;
        align-items: center;
        .nav__icon {
            height: 1.5em;
            width: 1.5em;
            margin: 1rem 2rem;
            cursor: pointer;
        }
    }

}