@use "../../assets/styles/_variables"as *;
@use "../../assets/styles/base/typography"as *;
@use "../../App.scss" as *;

.event-flow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    &__title{
        align-self: center;
    }
    &__step {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 2rem;
        &-text {
            text-align: right;
            &-icon {
                border-radius: 50%;
                border: 3px;
                height: 3em;
                width: 3em;
            }
            &-title {

            } 
            &-info {
                color: $form-label-color;
            }
        }
        &-icon--complete {
        }
    }
}
 