@use "../base/typography" as *;
@use "../variables" as *;
//Base grid setup for form.

.form {
  width: 25.3vw;
  height: 66.3vh;
  display: flex;
  flex-direction: column;
  background-color: $form-background-color;
  padding-right: 3.3vw;
  padding-top: 4.2vh;
  padding-left: 2.8vw;
  padding-bottom: 4.12vh;

  &__title {
    margin-bottom: 1.5rem;

    &-step {
      text-align: left;
      color: $primary-color;
      font-weight: $form-title-weight;
      margin: 0;
      margin-bottom: 0.4rem;
    }
    &-main {
      text-align: left;
      color: $text-color;
      font-weight: $form-title-weight;
      margin: 0;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    margin: 0.35rem 0;
  }

  &__input {
    background-color: $form-input-color;
    border: $form-input-border-color 2px solid;
    border-radius: 7px;
    min-height: 4.8vh;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
  }

  &__label {
    font-size: calc($base-font * 0.75);
    color: $form-label-color;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.35rem;
  }
}
