@use "../../assets/styles/variables"as *;

.reset {
    margin-left: 10rem;
    margin-top: 5rem;
    width: 35vw;
    height: fit-content;
    padding: 0;
    margin-top: 0.75rem;
    align-items: flex-start;
}
.left-container {
    display: flex;
    

&__header {
        margin-top: 5rem;
        font-weight: 600;
        font-size: 36px;
        color: $title-color;
        width: 50vw;

        &--orange {
            color: $primary-color;
            display: inline-block;
        }
    }

    &__subtitle {
        color: $text-color;
        margin-top: 0.75rem;
    }
    &__label {
        color: $text-color;
        margin-top: 0.75rem;
        font-size: calc($base-font * 0.75);
    }

    &__input {
        margin-bottom: 1rem;
        padding-left: 1rem;
        background-color: $form-input-color;
        border: $form-input-border-color 2px solid;
        border-radius: 7px;
        min-height: 4.8vh;
        max-width: 100%;
        min-width: 100%;
        overflow: hidden;
    }

    .primary {
        cursor: pointer;
    }
}