@use "../../../assets/styles/_variables.scss"as *;
@use "../../../assets/styles/base/typography.scss"as *;
@use "../../../assets/styles/layout/forms" as *;


.eventInfo__pageTwo-form {
  height: 45rem;
  width: 26rem;
  
  &__main
  {
    display: flex;
        flex-direction: row;
  }
  &__input{
    padding-left: 2rem;
  }
}
.description {
    margin-top: 5.5rem;
}
button {
  width: 7.5rem;
  height: 3rem;
  font-weight: 700;
  font-size: 0.75rem;
  border-radius: $universal-border-radius;
  border: none;
}
.secondary, .tertiary {
  background-color: $greyBtn-background-color;
  color: $text-color;
}