@use "../../../assets/styles/_variables.scss"as *;
@use "../../../assets/styles/base/typography.scss"as *;
@use "../../../assets/styles/layout/forms" as *;

.event-info-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  
}

.description__button{
  display: flex;
  justify-content: flex-end;
}