@use "../../assets/styles/variables" as *;
@use "../../assets/styles/layout/forms" as *;

.welcome {
    margin-left: 10rem;
    margin-top: 5rem;
}

.form {
    height: fit-content;
    &__input {
        margin-bottom: 1rem;
    }
}

