@use "../../assets/styles/_variables"as *;

.create-event {
  background-color: $back-color;
  //margin-left: 5.6rem;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  column-gap: 2rem;
  padding-top: 3rem;
}