@use "../../../assets/styles/variables" as *;

.form {
  &__buttons {
    > .tertiary {
      width: 5.4rem;
      height: 2rem;
      font-size: 0.625rem;
    }

    > .primary {
      margin-top: 1rem;
    }
  }
  button {
    width: 7.5rem;
    height: 3rem;
    font-weight: 700;
    font-size: 0.75rem;
    border-radius: $universal-border-radius;
    border: none;
  }
  .secondary, .tertiary {
    background-color: $greyBtn-background-color;
    color: $text-color;
  }
}

#description, #alternate-description {
  padding-top: 0.3rem;
}