@use "../../../assets/styles/variables" as *;

.form {
  &__buttons {
    > .tertiary {
      width: 5.4rem;
      height: 2rem;
      font-size: 0.625rem;
    }

    > .primary {
      margin-top: 1rem;
    }
  }
}

#description, #alternate-description {
  padding-top: 0.3rem;
}

.schedule {
  display: flex;
  justify-content: flex-start;
  column-gap: 2rem;
  align-items: flex-start;
  &-form {
    &__buttons {
      display: flex;
      flex-direction: column;
      &-nav {
        align-self: flex-end;
        column-gap: 1rem;
      }
    }
  }
  &-list {
    width: 15vw;
    background-color: $form-background-color;
    padding-right: 3.3vw;
    padding-top: 4.2vh;
    padding-left: 2.8vw;
    padding-bottom: 4.12vh;
    &__title {
      font-weight: $form-title-weight;
      color:$title-color;
    }
    &__cards {
      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-title {
          color: $text-color;
        }
        &-buttons {
          display: flex;
          gap: 1rem;
          &-link {
            &-icon:hover{
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}