//Background
$back-color: #F8F8F8;

// Button default
$defaultBtn-color: #F97850;

// Button hover
$hoveredBtn-color: #F9785080;

// Button clicked (sections etc)
$selectedBtn-color: #F978502B;

// Title font color
$title-color:#3B3E54;

// Text font color
$text-color: #515C63;

