//Background
$back-color: #f8f8f8;
// Primary
$primary-color: #f97850;
// Button inactive
$inactiveBtn-color: #f9785080;
// Button clicked (sections etc)
$selectedBtn-color: #f978502b;
// Title font color
$title-color: #3b3e54;
// Text font color
$text-color: #515c63;
// border-radius variable
$universal-border-radius: 3rem;
// button variables
$primaryBtn-text-color: #ffffff;
$greyBtn-background-color: #f2f2f2;
$dashedBtn-border-color: #b8b3b3;
//form-variables
$form-background-color: #fdfdfd;
$form-input-color: #ffffff;
$form-label-color: #bebebe;
$form-input-border-color: #eeeeee;
$form-title-weight: 500;
// Font size
$base-font: 1rem;
//event list variables
$event-list-heading-color: #828282;
$event-list-table-row-color :#efeff0;
$event-list-info-color: #94a6c1;