@use "../../assets/styles/variables" as *;

.header {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 0.78rem;
  gap: 5rem;
  color: $title-color;
  padding: 0.3rem 1.5rem;
  font-weight: 700;
  background-color: $form-background-color;
  width: 100vw;
  
  &__logo {
    width: 3rem;
  }

  &__button-logout {
    margin-left: auto;
    min-height: 2.81rem;
    min-width: 6.75rem;
    margin-right: 4.06rem;
    justify-self: flex-end;
  }
}

